In [7]:
# import required libraries
import pandas as pd
import numpy as np
import panel as pn
pn.extension('tabulator')

import hvplot.pandas

ModuleNotFoundError: No module named 'panel'

In [6]:
!conda install panel -y

Collecting package metadata (current_repodata.json): done
Solving environment: \
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistenc|

  - defaults/noarch::python-language-server==0.36.2=pyhd3eb1b0_0
  - defaults/noarch::pyls-black==0.4.6=hd3eb1b0_0
failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: \
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/noarch::python-language-server==0.36.2=pyhd3eb1b0_0
  - defaults/noarch::pyls-black==0.4.6=hd3eb1b0_0
failed with initial frozen solve. Retrying with flexible solve.
Solving environment: -
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
Examining conflict for ipykernel panel networkx notebook spyder-kernels anacon\- ^C
                                                                               failed

CondaError: KeyboardInterrupt

In [8]:
# request the data
data = pd.read_csv('https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv')

In [9]:
# inspect the data
data.tail(5)

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
25186,ZWE,Zimbabwe,2016,10.738,0.765,1.415,0.639,0.046,6.959,0.496,...,2.076,11.50,0.820,6.21,0.443,14030338.0,2.096179e+10,47.5,3385.574,1.889
25187,ZWE,Zimbabwe,2017,9.582,0.673,1.666,0.678,0.048,5.665,0.398,...,2.023,11.62,0.816,6.35,0.446,14236599.0,2.194784e+10,NaN,NaN,NaN
25188,ZWE,Zimbabwe,2018,11.854,0.821,1.308,0.697,0.048,7.101,0.492,...,2.173,11.96,0.828,6.59,0.456,14438812.0,2.271535e+10,NaN,NaN,NaN
25189,ZWE,Zimbabwe,2019,10.949,0.748,1.473,0.697,0.048,6.020,0.411,...,NaN,NaN,NaN,NaN,NaN,14645473.0,NaN,NaN,NaN,NaN
25190,ZWE,Zimbabwe,2020,10.531,0.709,NaN,0.697,0.047,6.257,0.421,...,NaN,NaN,NaN,NaN,NaN,14862927.0,NaN,NaN,NaN,NaN

In [11]:
# display summary information
data.describe()

,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,flaring_co2,flaring_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
count,25191.000000,23949.000000,23307.000000,3976.000000,12248.000000,12218.000000,17188.000000,16860.000000,4382.000000,4381.000000,...,5651.000000,5655.000000,5655.000000,5655.000000,5655.000000,2.289200e+04,1.353800e+04,8690.000000,8681.000000,6803.000000
mean,1953.195546,267.861942,4.170811,-2.415624,12.888607,0.113037,175.358171,1.551520,15.000326,0.875319,...,6.870665,79.072368,1.902152,29.088635,0.601973,7.068041e+07,2.877088e+11,1569.083895,25568.487454,1.850291
std,53.788944,1521.680894,14.912201,182.444942,77.258563,0.148907,786.106838,2.552112,40.471977,5.477923,...,7.270324,545.014528,3.318293,198.147748,0.890161,3.794737e+08,2.180094e+12,9066.102799,33319.956208,1.575161
min,1750.000000,0.000000,0.000000,-1657.998000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.101000,0.000000,0.000000,0.000000,0.000000,1.490000e+03,5.543200e+07,0.000000,0.000000,0.050000
25%,1924.000000,0.528000,0.253000,-0.892500,0.129000,0.020000,0.322000,0.054000,0.253250,0.021000,...,2.095500,2.005000,0.691000,0.510000,0.221000,1.287425e+06,9.828867e+09,6.997000,3270.369000,0.856000
50%,1967.000000,4.857000,1.250000,1.953000,0.557000,0.070000,3.981000,0.441500,2.071500,0.068000,...,4.442000,8.530000,1.077000,3.460000,0.377000,4.869928e+06,3.037019e+10,61.404500,13701.318000,1.407000
75%,1995.000000,42.818000,4.657500,9.700500,2.896750,0.156000,35.532750,2.149000,12.603750,0.203000,...,8.975000,30.025000,1.619000,11.195000,0.589000,1.757624e+07,1.268944e+11,352.884500,35493.775000,2.351000
max,2020.000000,36702.503000,748.639000,1028.487000,1626.371000,2.738000,15062.902000,34.184000,435.034000,94.711000,...,53.650000,8298.270000,39.795000,3078.270000,10.056000,7.794799e+09,1.136302e+14,162194.290000,317582.498000,13.493000